<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tentact.taims.dao.PlaceDao">
	<select id="searchList" resultType="Map">
		SELECT id,name FROM place;
	</select>
	<select id="searchPage" parameterType="Map" resultType="Map">
		SELECT id,name FROM place
		ORDER BY id
		LIMIT #{start},#{length}
	</select>
	<select id="searchCount" resultType="long">
		SELECT COUNT(*) as count FROM place;
	</select>
	<delete id="deleteById" parameterType="int">
		DELETE FROM place WHERE id=#{id};
	</delete>
	<delete id="deleteByIds" parameterType="Map">
		DELETE FROM place 
		<where>
			id IN
			<foreach item="one" collection="ids" open="(" close=")" separator=",">
				#{one}
			</foreach>
		</where>
	</delete>
	<insert id="insertPlace" parameterType="Map" >
		INSERT INTO place(id,name) 
		VALUES (next value for MYCATSEQ_CLASS,
		#{name}
		)
	</insert>
	<update id="updatePlaceInfo"  parameterType="Map" >
		UPDATE place set
		name = #{name}
		WHERE id=#{id}
	</update>
	
</mapper>