* {
  box-sizing: border-box !important;
  font-family: "微软雅黑";
  color: #333;
}
.title {
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 18px;
}
#place-info-add {
  width: 400px;
}
#place-info-add * {
  font-size: 14px !important;
}
#place-info-add p {
  margin-bottom: 20px;
  height: 32px;
}
#place-info-add p .attribute {
  float: left;
  line-height: 32px;
  margin-right: 15px;
  width: 70px;
  text-align: center;
}
#place-info-add p .ivu-radio-group {
  float: left;
  margin-top: 3px;
}
#place-info-add p .ivu-input-group-prepend {
  width: 70px;
}
#place-info-add p .ivu-btn {
  width: 80px;
}
#place-info-add p .ivu-btn span {
  color: #fff !important;
}
